@import 'setup';
@import 'typography';

// ---------------------------
.App {
    text-align: center;
    max-width: 1700px;
}
.hidden {
    display: none;
}

header {
    width: 100%;
    height: 50vh;
    background-image: url('../assets/header.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}
.hero-logo img {
    width: 300px;
    padding: 5%;
}
.page-title div {
    width: 100%;
    padding: 10px 0;
    background-color: lightgrey;
}

// ---------RESPONSIVENESS----------
@media (max-width: 950px) {
    header {
        height: 35vh;
    }
}
@media (max-width: 550px) {
    header {
        height: 20vh;
    }
}
